<!doctype html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Node Sandbox</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,700" rel="stylesheet">
    <link href="/public/style.css" rel="stylesheet">
  </head>

  <body>
    <div class="navbar">
      <h1>Node Sandbox</h1>
    </div>

    <div class="container">
      <div class="card">
        <h3>Server Status</h3>
        <p class="status-text">The server is running....</p>
      </div>

      <div class="card">
        <h3>Sort the Packages Challenge</h3>
        <p><b>Package sorting function:</b> <br> <code>helpers/sortPackages.js</code></p>
        <p><b>Package sorting unit tests:</b> <br> <code>tests/helpers/sortPackages.test.js</code></p>
      </div>

      <div class="footer">
        <p>&copy; 2024 Node Sandbox. All rights reserved.</p>
      </div>
    </div>

    <script src="public/scripts.js"></script>
  </body>
</html>

